table {
    border-collapse: collapse;
    width: 90%;
	margin: 80px auto;
    
     border-radius: 15px;
    overflow: hidden;
}

th {
            background-color: #28679a;
            color: white;
            text-align: left;
        }
 th, td {
            padding: 16px;
        }

tr:nth-child(even) {
            background-color: #ddd;
        }